<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Hola!  Soy Julio Pérez</h1> 
    <p>Actualmente estoy buscando trabajo como desarrollador de software en Buenos Aires.</p>
    <p>Recien acabo de hacer la solicitud de Residencia temporaria, esto podría tardar 90 días. Por lo que he decidido tomar este tiempo que tengo disponible para mejorar profesionalmente.</p>
    <p>Utilizaré está página como bitacora de viaje para:</p>
    <ul>
      <li>Comprometerme a trabajar en esto diariamente</li>
      <li>Poner en práctica lo aprendido</li>
      <li>Compartir lo aprendido, junto con algunos consejos</li>
      <li>Mostrar mi trabajo</li>
      <li>Hacer imagen digital</li>
    </ul>

    <p class="text-right">
      <small class="text-muted"> Julio Perez </small>
      <br>
      <small class="text-muted"> 04/03/2019 </small>
    </p>

  </div>
</div>
