<div class="container mt-3" *ngFor="let tarjeta of tarjetas; let i = index">
  <div class="card">
    <div class="card-header">
      Día {{ i + 1 }}
    </div>
    <div class="card-body">
      <h4> {{ tarjeta.titulo }} </h4>
      <p>Objetivo: {{ tarjeta.objetivo }} </p>
      <ul *ngFor="let actividad of tarjeta.actividades">
        <li> {{ actividad }} </li>
      </ul>
      <ul class="text-muted"  *ngFor="let incompleto of tarjeta.nodone">
        <li> {{ incompleto }} </li>
      </ul>
    </div>
    <div class="card-footer">
      <p class="text-primary"> {{ tarjeta.footer}} </p>
    </div>
  </div>
</div>

