<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Día 1
    </div>
    <div class="card-body">
      <h4>Publicar página bitácora (esta pagina)</h4>
      <p>Objetivo: Publicar la página en github aunque solo muestre "en costrucción"</p>
      <ul>
        <li>Repasar git / GitHub</li>
        <li>Diseño de página principal con Angular y bootstrap</li>
        <li>Desplegar página con Angular</li>
        <li>Desplegar página en github pages</li>
      </ul>
      <ul class="text-muted">
        <li>No pude desplegar la página con el paquete github-pages.  Tuve que crear un repositorio especifico para el despliegue</li>
      </ul>
    </div>
    <div class="card-footer">
      <p class="text-primary">Página publlicada con la estructura de la primera página lista</p>
    </div>
  </div>
</div>

<div class="container mt-3">
    <div class="card">
      <div class="card-header">
        Día 2
      </div>
      <div class="card-body">
        <h4>Crear rutas para las secciones de la página « bitacoara»</h4>
        <p>Objetivo: Crear rutas y por lo menos mostrar las actividades del primer día</p>
        <ul>
          <li>Buscar un logo</li>
          <li>Cambiar color a la barra de navegación para que combine con el logo</li>
          <li>Crear componentes para cada sección (solo muestran: Component x Work)</li>
          <li>Crear las rutas para cada sección</li>
          <li>Crear el componente PageNotFound</li>
          <li>Trabajé creando ramas en git para características</li>
          <li>Componente Bitacora, para mostrar la actividad diaria</li>
        </ul>
        <ul class="text-muted">
          <li>El componente bitacora actualmente es estatico</li>
          <li>Quiero que cargue la información a partir de un objeto JSON</li>
        </ul>
      </div>
      <div class="card-footer mt-3">
        <p class="text-primary">Muestra el componente bitacora</p>
      </div>
    </div>
  </div>